.name{
    background-color: aqua;
    color: blue; 
    font-weight: 20px;
    font-size:30px;
}
.DIV{
   background-color: lightgreen;
   color:green;
   width:300px;
   height:300px;

}