.login-container{
    width: 400px;
    margin: 100px;
    padding: 20px;
    background-color: rgba(126, 252, 0, 0.712);
    ;
    border-radius: 10px;
}

h1{
    text-align: center;
}
button{
    width: 40%;
    padding: 10px;
    background-color: aqua;
    color: white;
    border-radius: 4px;
    color:black;
    margin-left:110px;
    margin-right: 110px;
}

input{
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}