body{
    background-color: rgba(135, 207, 235, 0.712);
    padding: 20px;
    marging: 0;
    font-family: Verdana;
}

.todo-container{
    margin: auto;
    padding: 20px;
    background-color: white;
    max-width: 400px;
}

h1{
    text-align: center;
}
ul{
    padding: 0;
}

input{
    padding: 10px;
    margin: 10px 5px 10px 0;
}

li{
    padding: 10px;
    justify-content: space-between;
    display: flex;
}

.delete-button{
    background-color: rgba(255, 0, 0, 0.836);
    color: bisque;
    border-radius:  4px;
    padding: 5px 10px;
}

.Add-button{
    background-color: green;
    color: bisque;
    padding: 10px;
    border-radius: 5px;
}